main.content
  .content__cell
    ul.row-lists
      li.row-lists__item
        include _menu-catalog-lists
      li.row-lists__item
        include _news-lists
      li.row-lists__item
        a.btn.btn_w100.btn_orange.btn_write(href="#") Написать нам
      li.row-lists__item
        include _banner
      li.row-lists__item
        include _banner

  .content__cell
        include _breadcrumbs
        include _show-category
        include _sort-filter
        include _products
        include _pagination
        include _about-company