// news-lists
ul.news-lists
  li.news-lists__item
    .news-lists__date 12.10.2011
    a.news-lists__link(href="#")
      h3.news-lists__title Много скидок!
    p.news-lists__desc Скоро ноябрь, а это значит, что скоро вас ждет большое количество скидок в связи с нашим юбелеем.
  li.news-lists__item
    .news-lists__date 12.10.2011
    a.news-lists__link(href="#")
      h3.news-lists__title Обменяй старое на новое!
    p.news-lists__desc Скоро ноябрь, а это значит, что скоро вас ждет большое количество скидок в связи с нашим юбелеем.
  li.news-lists__item
    .news-lists__date 12.10.2011
    a.news-lists__link(href="#")
      h3.news-lists__title Обновление в каталогах!
    p.news-lists__desc Скоро ноябрь, а это значит, что скоро вас ждет большое количество скидок в связи с нашим юбелеем.
    
// end news-lists