.pagination
  span.pagination__title Страницы:

  ul.pagination-lists
    li.pagination-lists__item
      a.pagination-lists__link(href="#") 1
    li.pagination-lists__item
      a.pagination-lists__link.pagination-lists__link_active(href="#") 2
    li.pagination-lists__item
      a.pagination-lists__link(href="#") 3
    li.pagination-lists__item
      a.pagination-lists__link(href="#") 4
    li.pagination-lists__item
      a.pagination-lists__link(href="#") 10
    li.pagination-lists__item ..
    li.pagination-lists__item
      a.pagination-lists__link(href="#") 45

  ul.pagination-lists-page
    li.pagination-lists-page__item 
      a.pagination-lists-page__link(href="#") Предыдущая страница
    li.pagination-lists-page__item - 
    li.pagination-lists-page__item 
      a.pagination-lists-page__link(href="#") Следущая страница