.show-category
  .show-category__cell
    span.show-category__text показать:
  .show-category__cell
    ul.show-category-lists
      li.show-category-lists__item автомодели
      li.show-category-lists__item самолеты
      li.show-category-lists__item вертолеты
      li.show-category-lists__item аккамуляторы, кабели
      li.show-category-lists__item аппаратура
      li.show-category-lists__item инструмент, материалы
      li.show-category-lists__item винты, кререж, клей
      li.show-category-lists__item.show-category-lists__item_add +