ul.sort-filter
  li.sort-filter__item сортировать по:
  li.sort-filter__item
    a.sort-filter__link.sort-filter__link_active(href='#') дате добавления
  li.sort-filter__item
    a.sort-filter__link(href='#') стоимости