$text-color: #4f4f4f;
$a-color: #e27d55;
$bg-color: #f1f1f1;
$bg-color2: #f8f8f8;
$bg-header-top: #4f4f4f;
$font-color-menu-lists: #e2e2e2;
$text-tel: #4f4f4f;
$text-orange-tel: #da501a;
$text-message: $text-tel;
$text-red-cabinet: $text-orange-tel;
$bg-content: $bg-color2;

$bg-menu-catalog: #f3f2f0;
$bg-menu-catalog-hover: #e9e9e9;
$bg-menu-catalog-active: #ed6d3b;
$text-menu-catalog: $bg-header-top;

$link-paginashoin: #4f4f4f;
$text-color-sort-filter: #8c8c8c;

$bg-show-catalog: #4f4f4f;
$text-show-catalog-text: #f3f2f0;
$text-show-catalog: #4f4f4f;

$text-color-menu-footer: #747474;
$text-gray74: #747474;